.control {
  display: block;
  height: rem(29px);
  width: rem(29px);
  border-radius: rem(6px);
  border: none;
  background-color: rgb(255, 85, 43);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  @include phonesPortrait {
    height: rem(35px);
    width: rem(35px);
  }

  @include phonesLandscape {
    height: rem(35px);
    width: rem(35px);
  }
}

.control--inline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: auto;
}

.control::after {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  
  @include phonesPortrait {
    transform: rotate(90deg);
  }
}

.control.left::after {
  background: url(./svg/left.svg) center center no-repeat;
  background-size: contain;
}

.control.right::after {
  background: url(./svg/right.svg) center center no-repeat;
  background-size: contain;
}

.replace::after {
  background: url(./svg/replace.svg) center center no-repeat;
  background-size: contain;
}