.control {
  display: block;
  height: rem(29px);
  width: rem(29px);
  border-radius: rem(6px);
  border: none;
  background-color: rgb(255, 85, 43);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(4px);

  @include phonesPortrait {
    height: rem(35px);
    width: rem(35px);
  }

  @include phonesLandscape {
    height: rem(35px);
    width: rem(35px);
  }
}

.control--inline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: auto;
}

.control__pic {

  @include phonesPortrait {
    transform: rotate(90deg);
  }
}