* {
  box-sizing: border-box;
}

html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: calc($baseFontSize - 1px);
  }
}

body {
  margin: 0;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

button {
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}