* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}