.modal {
  max-width: 300px;
  padding: rem(30px) rem(20px);
  background: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: rem(15px);
}

.modal__text {
  text-align: center;
}

.modal__button {
  background-color: rgb(241, 3, 3);
  padding: rem(15px) rem(20px);
  border-radius: rem(30px);
  color: white;
  font-size: rem(14px);
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: background-color .3s;
  cursor: pointer;
}

.modal__button:hover {
  background-color: rgb(223, 0, 0);
}

.modal__score, .score {
  span {
    font-size: rem(24px);
    font-weight: 700;
    color: rgb(255, 89, 205);
  }
}