.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include phonesPortrait {
    height: auto;
    min-height: 100vh;
    padding-top: rem(50px);
  }

  @include phonesLandscape {
    height: auto;
    min-height: 100vh;
    padding-top: rem(50px);
  }
}

.section__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(20px);
  width: 60%;
  margin-bottom: rem(20px);

  @include tablets {
    width: 90%;
  }
}

.section__title {
  text-align: center;
}

.section__subtitle {
  text-align: center;
}

.section__instruction {
  max-width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  position: relative;
}