/*fonts*/

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

//importing files
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import 'layout';
@import 'section';
@import 'riddle';
@import 'items';
@import 'controls';
@import 'overlay';
@import 'modal';