@charset "UTF-8";
/*fonts*/
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  html {
    font-size: 4.5vmin;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  html {
    font-size: 4.5vmin;
  }
}

body {
  margin: 0;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .section {
    height: auto;
    min-height: 100vh;
    padding-top: 3.125rem;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  .section {
    height: auto;
    min-height: 100vh;
    padding-top: 3.125rem;
  }
}

.section__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
  width: 60%;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .section__headline {
    width: 90%;
  }
}

.section__title {
  text-align: center;
}

.section__subtitle {
  text-align: center;
}

.section__instruction {
  max-width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  position: relative;
}

.riddle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28.125rem;
  background: url(./images/beach.png) center bottom no-repeat;
  background-size: contain;
  position: relative;
}
@media screen and (max-width: 768px) {
  .riddle {
    height: 23.125rem;
    background-size: auto 100%;
    background-position: right bottom;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle {
    height: 100vh;
    background: url(./images/beach_portrait.png) center center no-repeat;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  .riddle {
    height: 100vh;
  }
}

.riddle__block {
  width: 33%;
  height: 60%;
  padding: 1.25rem 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 1.875rem;
  display: flex;
}
@media screen and (max-width: 768px) {
  .riddle__block {
    row-gap: 1.25rem;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__block {
    width: 100%;
    height: 100%;
    row-gap: 1.25rem;
    padding: 0.625rem 0.3125rem;
  }
}

.riddle__block:nth-child(2) .riddle__block-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.riddle__block-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__block-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.riddle__block-title {
  background: white;
  border-radius: 3px;
  padding: 0.25rem 0.375rem;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__block-title {
    display: none;
  }
}

.riddle__block-title.mobile {
  display: none;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__block-title.mobile {
    display: block;
  }
}

.riddle__boat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50%;
  background: url(./images/лодка.png) center bottom no-repeat;
  background-size: contain;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  .riddle__boat {
    width: 90%;
    height: 45%;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__boat {
    width: 100%;
    height: 60%;
  }
}

.riddle__boat .item__person {
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__boat .item__person {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

.riddle__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .riddle__controls {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  .riddle__controls {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.4375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media screen and (max-width: 768px) {
  .items {
    -webkit-column-gap: 0.4375rem;
       -moz-column-gap: 0.4375rem;
            column-gap: 0.4375rem;
  }
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 0.3125rem;
}

.item__person {
  width: 4.375rem;
  height: 4.375rem;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .item__person {
    width: 20vmin;
    height: 20vmin;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  .item__person {
    width: 20vmin;
    height: 20vmin;
  }
}

.item__person[data-name=волк] {
  background: url(./images/волк.png) center center no-repeat;
  background-size: contain;
}

.item__person[data-name=коза] {
  background: url(./images/коза.png) center center no-repeat;
  background-size: contain;
}

.item__person[data-name=капуста] {
  background: url(./images/капуста.png) center center no-repeat;
  background-size: contain;
}

.item__button {
  font-weight: 600;
  font-size: 0.9375rem;
  color: white;
  background-color: rgb(255, 85, 43);
  border-radius: 0.375rem;
  border: none;
  padding: 0.375rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.item__button:hover {
  background-color: rgb(243, 49, 0);
}

.control {
  display: block;
  height: 1.8125rem;
  width: 1.8125rem;
  border-radius: 0.375rem;
  border: none;
  background-color: rgb(255, 85, 43);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .control {
    height: 2.1875rem;
    width: 2.1875rem;
  }
}
@media screen and (max-height: 540px) and (orientation: landscape) {
  .control {
    height: 2.1875rem;
    width: 2.1875rem;
  }
}

.control--inline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: auto;
}

.control::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 480px) and (orientation: portrait) {
  .control::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.control.left::after {
  background: url(./svg/left.svg) center center no-repeat;
  background-size: contain;
}

.control.right::after {
  background: url(./svg/right.svg) center center no-repeat;
  background-size: contain;
}

.replace::after {
  background: url(./svg/replace.svg) center center no-repeat;
  background-size: contain;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay.hidden {
  display: none;
}

.modal {
  max-width: 300px;
  padding: 1.875rem 1.25rem;
  background: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}

.modal__text {
  text-align: center;
}

.modal__button {
  background-color: rgb(241, 3, 3);
  padding: 0.9375rem 1.25rem;
  border-radius: 1.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.modal__button:hover {
  background-color: rgb(223, 0, 0);
}