@charset "UTF-8";
/*fonts*/
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

body {
  margin: 0;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
  width: 60%;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 768px) {
  .section__headline {
    width: 80%;
  }
}

.section__title {
  text-align: center;
}

.section__subtitle {
  text-align: center;
}

.section__instruction {
  position: absolute;
  max-width: 60%;
  top: 1.25rem;
  left: 1.25rem;
}
@media screen and (max-width: 768px) {
  .section__instruction {
    display: none;
  }
}

.section__instruction.mobile {
  max-width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  position: relative;
  display: none;
}
@media screen and (max-width: 768px) {
  .section__instruction.mobile {
    display: block;
  }
}

.riddle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25.625rem;
  background: url("../images/beach.png") center bottom no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.riddle__block {
  width: 33%;
  height: 60%;
  padding: 1.25rem 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 2.5rem;
  display: flex;
}

.riddle__block-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.riddle__block:nth-child(2) .riddle__block-content {
  row-gap: 1.25rem;
}

.riddle__boat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 50%;
  background: url(./images/лодка.png) center center no-repeat;
  background-size: contain;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media screen and (max-width: 768px) {
  .riddle__boat {
    width: 90%;
    height: 45%;
  }
}

.riddle__boat .item__person {
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
}

.riddle__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.4375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media screen and (max-width: 768px) {
  .items {
    -webkit-column-gap: 0.4375rem;
       -moz-column-gap: 0.4375rem;
            column-gap: 0.4375rem;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 0.3125rem;
}

.item__person {
  width: 4.375rem;
  height: 4.375rem;
}
@media screen and (max-width: 768px) {
  .item__person {
    width: 10vmin;
    height: 10vmin;
  }
}

.item__person[data-name=волк] {
  background: url("./images/волк.png") center center no-repeat;
  background-size: contain;
}

.item__person[data-name=коза] {
  background: url("./images/коза.png") center center no-repeat;
  background-size: contain;
}

.item__person[data-name=капуста] {
  background: url("./images/капуста.png") center center no-repeat;
  background-size: contain;
}

.item__button {
  font-weight: 600;
  font-size: 0.9375rem;
  color: white;
  background-color: rgb(255, 85, 43);
  border-radius: 0.375rem;
  border: none;
  padding: 0.375rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.item__button:hover {
  background-color: rgb(243, 49, 0);
}

.control {
  display: block;
  height: 1.8125rem;
  width: 1.8125rem;
  border-radius: 0.375rem;
  border: none;
  background-color: rgb(255, 85, 43);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control--inline {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: auto;
}

.control::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.control.left::after {
  background: url(./svg/left.svg) center center no-repeat;
  background-size: contain;
}

.control.right::after {
  background: url(./svg/right.svg) center center no-repeat;
  background-size: contain;
}

.replace::after {
  background: url(./svg/replace.svg) center center no-repeat;
  background-size: contain;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay.hidden {
  display: none;
}

.modal {
  max-width: 300px;
  padding: 1.875rem 1.25rem;
  background: white;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.9375rem;
}

.modal__text {
  text-align: center;
}

.modal__button {
  background-color: rgb(241, 3, 3);
  padding: 0.9375rem 1.25rem;
  border-radius: 1.875rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.modal__button:hover {
  background-color: rgb(223, 0, 0);
}